<!DOCTYPE html>
<html>
<head>

<title>リスト</title>
<meta charset="UTF-8">

</head>

<body>

<center>

<div>
<h2>履修中の科目</h2>
</div>




<ul class="list-group">

<a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
<a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
<a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
<a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>
<a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</a>

</ul>
</center>


<br><button type="button" class="btn btn-outline-success">承認</button></br>

</body>

</html>
