<!DOCTYPE html>
<html>
<head>

<title>リスト</title>
<meta charset="UTF-8">

</head>

<body>

<center>

<div>
<h2>履修中の科目</h2>
</div>




<ul class="list-group">
<% @teacher.each do |teacher| %>
<% @course.each do |course| %>


  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
         <a href="#" class="list-group-item list-group-item-action list-group-item-success"><em><%= course.course_code %></em>　<em><%= course.course_name %></em>　<em><%= teacher.teacher_name %></em></a>
       </div>
         </div>




<% end %>
<% end %>



</ul>
</center>


<br><button type="button" class="btn btn-outline-success">確認へ</button></br>

</body>

</html>
