<!DOCTYPE html>
<html>
<head>
  <title>履修削除</title>
  <meta charset="UTF-8">
</head>
<body>
<div class="row">
<div class="col-3">
</div>
<div class="col-9">
<br>
<br>
  <h2>履修削除</h2> 
　<br><p class="text-success">学籍
　<input type="text" name="number" maxlength="8" value="" placeholder="s1240000"></br>
　<br>名前
  <input type="text" name="name" maxlength="8" value="" placeholder="田中　太郎"></br></p>
　<br><button type="button" class="btn btn-success">ログイン</button></br>
<br>
</br>


  
</div>
</div>
<%= image_tag('forest') %>
</body>
</html>


